<template lang='pug'>
  v-app
    v-content
      router-view 
    v-snackbar( v-model="Ayudas.snackbarShow" :timeout='3000') 
      span {{ Ayudas.snackbarMessage }}
      v-btn( color='primary' text @click='Ayudas.snackbarShow=false' ) Ok

</template>
<script>
export default {
  created() {
    this.$store.dispatch('Landing_set/obtener')
  },
  data: ()=>({  
    drawer : false
    }),

}
</script>
