<template lang="pug">
  v-container(fluid style='position: relative').pa-0
    v-row.align-center.justify-center.black
      p.white--text.mr-6.my-1 gimnasio 12
        div.d-flex.flex-column.align-center
          .blanco( style='width:2px')
      p.white--text.ml-6.my-1 gimnasio 12
    v-app-bar(   color='transparent' flat height=70 )
      router-link(tile flat :to='{name: "inicio"}')
        v-img( :src='inicio.logos.imagen' height=55 width='200' contain )
      //- v-spacer
      //- v-hover( v-if='Navegador'  v-for='{titulo, vinculo}, i of Navegador.menu' :key='i' v-slot:default="{ hover }" ).mr-7
      //-   .d-none.d-md-flex.flex-column.align-center(style='width: 170px!important;' )
      //-     a.navegador-vinculo( @click="$vuetify.goTo(vinculo)"   v-html='titulo' :class='hover? "verde--text": "grey--text"' ) 
      //-     .subrayado.mx-auto( :class='!hover ? "transparent" : "verde"' style='height: 2px!important;width: 90px!important;  transition: .5s all ease' )          

    
    v-col.py-0
      v-row.align-center.justify-center
        v-col(cols=6 md=11 sm=12).pa-0
          v-carousel(cycle='', height='100vh',  hide-delimiters='' v-model='step' :show-arrows="false")
            div( style='position: fixed; right: 0; bottom:2%;  z-index: 100') 
              v-btn.mx-3(fab=''  x-large='' target='_blank' :href='`http://wa.me/${inicio.whatsapp.cel}`').transparent.elevation-0
                v-icon( v-html='inicio.whatsapp.icono' size='67' flat).green--text
            v-carousel-item(v-for='{imagen}, i in inicio.encabezado.portadas', :key='i')
              v-img(:src='imagen' aspect-ratio="2")
                v-row.align-center.fill-height.justify-start
                  v-col(cols=12)
                    p.display-4.white--text.text-center.font-weight-black GIMNASIO 12
                  
      v-row.align-center.justify-center
        v-col(cols=6 md=7 sm=12)
          h1.black--text.text-center(v-html='inicio.encabezado.titulo' )
          p.black--text.text-center(v-html='inicio.encabezado.sub' ).mt-2
      .text-center.my-2
        v-btn(rounded='' color='black' dark='')
          | VER MÁS

      v-row.align-center.justify-center.mt-12
        v-col(cols=12 md=10 sm=12)
          h1.black--text.text-start GIMNASIO 12 
          v-img(:src='inicio.Destacados.imagen' :aspect-ratio="2")
          h1.black--text.text-center(v-html='inicio.Destacados.titulo' ).mt-2
        v-col(cols=6 md=6 sm=12)
          p.black--text.text-center(v-html='inicio.Destacados.sub' ).mt-2
      .text-center.my-2
        v-btn(rounded='' color='black' dark='')
          | Únete a nosotros
      
      v-row.align-center.justify-center.my-12

        v-col(cols=11 md=5 sm=12  v-for='{imagen, titulo, sub}, i of inicio.rutinas' :key='i' ).pa-1.mx-3
          h1.black--text.text-start GIMNASIO 12 
          v-img(:src='imagen' aspect-ratio='1')

          p.display-1.text-start.black--text( v-html='titulo' ).mt-2
          p.text-start.black--text( v-html='sub' )
          .text-start.my-2
            v-btn(rounded='' color='black' dark='')
              | empezar


</template>
<style lang="sass">

  .blanco
    height: 20px
    background-color: #FFFFFF !important

 
</style>