<template lang="pug">
  v-container.pa-0(fluid)
    encabezado
    pie_de_pagina
    

    

</template>
<script>

export default {
  components: {
    encabezado: ()=>import('./encabezado'),
    pie_de_pagina: ()=>import('./pie_de_pagina'),
   
  
  }
}
</script>

