<template lang="pug">
  v-container(v-if='inicio' fluid).pa-0.black
    v-col.py-0
      //- v-row(align='center', justify='center')
      //-   v-col(cols=2 md=2 ms=4)
      //-     v-row.justify-center
      //-       v-img(:src='inicio.pie_de_pagina.logo' contain height='70px')

      v-row(align='center', justify='center').mt-6
      
        v-col(cols=12 md=12 sm=12).mt-6
          v-row.justify-center.align-center
            template( v-for='{icono}, i of inicio.pie_de_pagina.redes')
              v-btn.mx-4( icon  color='transparent' target='_blank' )
                v-icon(size='25px' v-html='icono').white--text.mb-7
            
      
        p.caption.white--text © 2020 Gimnasio 12. Todos los derechos reservados

      

     
</template>

<style lang="sass">

</style>
